/.git

/.env
/.env.example
/.env-laravel
/.env-laravel.example

/*/data/
/*/init/
/*/sqldumps/

/ansible/
/ansible.cfg

/src/vendor
/src/storage/logs/*.log
/src/storage/framework/cache/**
/src/storage/framework/sessions/**
/src/storage/framework/views/**
/src/.DS_Store
/src/.gitignore
/src/webpack.mix.js
/src/server.php
/src/yarn.lock
/src/package/json
/src/node_modules
